#mainContainer {
  display: grid;
  grid-template-areas:
    "pageHeader pageHeader"
    "sidebar categorySection"
    "sidebar resultList"
    "sidebar pageFooter";
    grid-template-rows: 70px 1fr 1fr 1fr 60px;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: 20% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  height: 100vh;
  margin: 0;
  }
#pageHeader {
  grid-area: pageHeader;
  }
#pageFooter {
  grid-area: pageFooter;
  }
#resultList {
  grid-area: resultList;
  }
#sidebar {
  grid-area: sidebar;
  }
#categorySection {
  grid-area: categorySection;
  }
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  #mainContainer {
    grid-template-areas:
      "pageHeader"
      "categorySection"
      "sidebar"
      "resultList"
      "pageFooter";
    grid-template-rows: 70px 1fr 1fr 1fr 50px;
    grid-template-columns: 1fr;
 }
}


/* ======================================================= */

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#sidebar > * {
  /* width: 100%; */
  margin-bottom: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

