<div id="mainContainer">

  <mat-toolbar id="pageHeader" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span>My Application</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <section id="sidebar">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="filters">Filters</mat-button-toggle>
      <mat-button-toggle value="topics">Topics</mat-button-toggle>
    </mat-button-toggle-group>
    <app-filters [hidden]="!(group.value==='filters')"></app-filters>
    <app-topics [hidden]="!(group.value==='topics')"></app-topics>
  </section>

  <section id="categorySection">
    <app-categories></app-categories>
  </section>

  <section id="resultList">
    <app-result-list></app-result-list>
  </section>

  <footer id="pageFooter">
    <mat-toolbar color="primary">
      <span style="font-size:small">Material Design POC, 2023</span>
    </mat-toolbar>
  </footer>
</div>
