.result-item-container {
  display: grid;
  grid-template-areas:
  /* "item-blank item-actions" */
  "item-blank item-category"
    "item-checkbox item-title"
    ". item-countries"
    ". item-date"
    ". item-ammendment";
    grid-template-rows: 20px 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: 20px 1fr;
  grid-row-gap: 0;
  grid-column-gap: 3px;
  height: 1fr;
  margin: 20px 0;
  }

.item-blank {
  grid-area: item-blank;
  }
.item-actions {
  grid-area: item-actions;
  }
.item-category {
  grid-area: item-category;
  }
.item-title {
  grid-area: item-title;
  }
.item-countries {
  grid-area: item-countries;
  }
.item-date {
  grid-area: item-date;
  }
.item-ammendment {
  grid-area: item-ammendment;
  }

.item-title {
  margin-bottom: 0;
}

.item-date {
  margin-bottom: 10px;
}



/* action list */
.example-flex-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -10px;
}

.item-category > * {
  width: fit-content;
}

.item-category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* hover hiding */
.result-item-container > .item-category > .example-flex-container,
.result-item-container > .item-checkbox
{
  display: none
}

.result-item-container:hover > .item-category > .example-flex-container,
.result-item-container:hover > .item-checkbox
{
  display: inline
}
